{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage') }}">Блог</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ app.request.attributes.get('_route') == 'post_index' ? 'active' }}">
                        <a class="nav-link" href="{{ path('post_index') }}">Статьи</a>
                    </li>
                </ul>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">Завершить сеанс</a>
                {% elseif is_granted('ROLE_USER') %}
                    <a href="{{ path('profile_index') }}" class="btn btn-warning mr-2">Личный кабинет</a>
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">Завершить сеанс</a>
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary mr-2">Регистрация</a>
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-success">Войти</a>
                {% endif %}
                <a href=""></a>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
{% endblock %}